<% if I18n.locale == :en %>
	<!-- Eng Modal -->
	<div class="modal fade" id="recommend" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
						&times;
					</button>
					<% if current_user %>
					<h4 class="modal-title" id="myModalLabel">Hi <%= current_user.email %>, know of a smoke-free place which is not on the list? Let us know!</h4>
					<% end %>
					
				</div>
				<div class="modal-body">
	
					<%= form_tag url_for(:action => 'deliver_mail',  :controller => 'contact'), :method => 'get' do %>
					
					<% if current_user %>
					<%= hidden_field_tag(:address, current_user.email) %>
					<% end %>
					<div class="form-group">
						<%= text_field_tag 'place_name', '', :class => "form-control", placeholder: "place Name"   %>
					</div>
					<div class="form-group">
						<%= text_field_tag 'place_address', '', :class => "form-control", placeholder: "place address"   %>
					</div>
					<div class="form-group">
	
						<%= text_area_tag 'message','', :class => "form-control", placeholder: "additional details"   %>
					</div>
				</div>
				<div class="modal-footer">
					<%= submit_tag "Send" , :class=> "btn btn-warning" %>
					<% end %>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.english modal -->
<% end %>

<% if I18n.locale == :he %>
	<!-- Hebrew Modal -->
	<div class="modal fade" id="h-recommend" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
						&times;
					</button>
					<% if current_user %>
					<h4 class="modal-title h-form" id="myModalLabel"> <%= current_user.email %> היי</h4>
					<% end %>
					
				</div>
				<div class="modal-body">
	
					<%= form_tag url_for(:action => 'deliver_mail',  :controller => 'contact'), :method => 'get' do %>
					
					<% if current_user %>
					<%= hidden_field_tag(:address, current_user.email) %>
					<% end %>
					<div class="form-group">
						<%= text_field_tag 'place_name', '', :class => "form-control h-form", placeholder: "שם המקום"   %>
					</div>
					<div class="form-group">
						<%= text_field_tag 'place_address', '', :class => "form-control h-form", placeholder: "כתובת"   %>
					</div>
					<div class="form-group">
	
						<%= text_area_tag 'message','', :class => "form-control h-form", placeholder: "פרטים נוספים "   %>
					</div>
				</div>
				<div class="modal-footer">
					<%= submit_tag t('Send') , :class=> "btn btn-warning h-form" %>
					<% end %>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.hebrew modal -->
<% end %>