<% if I18n.locale == :en %> <!-- Modal -->
	<div class="modal fade" id="sign-up" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
						&times;
					</button>
					<h4 class="modal-title" id="myModalLabel">Sign up to rate and recommend new places</h4>
				</div>
				<div class="modal-body">
					<%= form_for @user do |f| %>
					<% if @user.errors.any? %>
					<div class="error_messages">
						<h2>Form is invalid</h2>
						<ul>
							<% @user.errors.full_messages.each do |message| %>
							<li>
								<%= message %>
							</li>
							<% end %>
						</ul>
					</div>
					<% end %>
					<div class="field">
						<%= f.text_field :email, :class => "form-control", :placeholder => 'email' %>
					</div>
					<div class="field">
						<%= f.password_field :password, :class => "form-control", :placeholder => "password" %>
					</div>
					<div class="field">
						<%= f.password_field :password_confirmation, :class => "form-control", :placeholder => "password confirmation" %>
					</div>
				</div>
				<div class="modal-footer">
					<%= f.submit "Sign Up", :class=> "btn btn-warning" %>
					<% end %>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
<%end%>


<% if I18n.locale == :he %> <!-- Modal -->
	<div class="modal fade" id="h-sign-up" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
						&times;
					</button>
					<h4 class="modal-title h-form" id="myModalLabel">הרשמו כדי להמליץ ולדרג מקומות</h4>
				</div>
				<div class="modal-body">
					<%= form_for @user do |f| %>
					<% if @user.errors.any? %>
					<div class="error_messages">
						<h2>Form is invalid</h2>
						<ul>
							<% @user.errors.full_messages.each do |message| %>
							<li>
								<%= message %>
							</li>
							<% end %>
						</ul>
					</div>
					<% end %>
					<div class="field">
						<%= f.text_field :email, :class => "form-control h-form", :placeholder => t('Email') %>
					</div>
					<div class="field">
						<%= f.password_field :password, :class => "form-control h-form", :placeholder => t('Password') %>
					</div>
					<div class="field">
						<%= f.password_field :password_confirmation, :class => "form-control h-form", :placeholder => t('Password confirmation') %>
					</div>
				</div>
				<div class="modal-footer">
					<%= f.submit t('Sign up'), :class=> "btn btn-warning h-form" %>
					<% end %>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
<%end%>
