<% @places = Place.where(:city_id => @city.id) %>
<% places_sorted = @places.sort_by{ |name| name[:name] } %>
<div id="city-container">
	<% if I18n.locale == :en %>
	<div>
		<a id="map-btn" class="visible-xs btn btn-default" href="/">map</a>
		<a id="list-btn" class="visible-xs btn btn-default" href="/">list</a>
	</div>	
		<div id="places-column">
			<div class="places-count">
				<% if @places.count == 1%>
					<%= @places.count %> Bar in <%= @city.name.gsub('-',' ') %> Area
				<%else%>
					<%= @places.count %> Bars in <%= @city.name.gsub('-',' ') %> Area

				<%end%>
			</div>
			</br>
			<% places_sorted.each do |place| %>
				<div class="well bar-container">
					<div class="bar-name-list">
						<%= link_to "#{place.name.gsub('-',' ')}", place %>
					</div>	
					<p>
						<%= place.categories.map(&:name).join(', ') %>
					</p>
					<p>
						<%= place.address %>
					</p>
					<p>
						<%= place.details %>
					</p>
					<% id = 'star' +  place.id.to_s %>
					<div id= <%= id %>></div>
					<script>$(document).ready(rateplaces( "<%= id %>",<%= place.average_rating %>));</script>
					<p>
						<a href="<%= place.website %>">visit website </a>
					</p>
				</div> <!--bar-container-->
			<%end%><!--places loop-->
		</div><!--places_column-->
	<%end%><!--English -->
	
	<% if I18n.locale == :he %>
			<div id="h-places-column">
				<div class="places-count">
					<% if @places.count == 1%>
						<%= @places.count %> בר 1 <%= @city.h_name.gsub('-',' ') %> באזור
					<%else%>
						<%= @places.count %> ברים <%= @city.h_name.gsub('-',' ') %> באזור
	
					<%end%>
				</div>
				</br>
				<% places_sorted.each do |place| %>
					
					<div class="well bar-container">
						<div class="bar-name-list">
							<% place_url = "/he/places/" + place.id.to_s %>
							<a href="<%= place_url %>"><%= place.h_name.gsub('-',' ')%></a>
						
						</div>	
						<p>
							<%= place.categories.map(&:h_name).join(', ') %>
						</p>
						<p>
							<%= place.h_address %>
						</p>
						<p>
							<%= place.h_details %>
						</p>
						<% id = 'star' +  place.id.to_s %>
						<div id= <%= id %>></div>
						<script>$(document).ready(rateplaces( "<%= id %>",<%= place.average_rating %>));</script>
						<p>
							<a href="<%= place.website %>">אתר </a>
						</p>
					</div> <!--bar-container-->
				<%end%><!--places loop-->
			</div><!--places_column-->
		<%end%><!--Hebrew -->
<div id="map-canvas" data-center="<%= @city.location.to_json%>"
	data-places= "<%= @places.to_json %>"
	></div>

</div>

