<div id="city-container">

	<div class="places_column" id="places_column">
		<% @places = Place.where(:city_id => @city.id) %>
		<% places_sorted = @places.sort_by{ |name| name[:name] } %>

		<% if I18n.locale == :en %>
		<h1>
		<div class="places-count">
			<%= @places.count %> bars in <%= @city.name.gsub('-',' ') %> Area
		</div></h1>
		<%end%>
		<% if I18n.locale == :he %>
		<h1> מקומות בילוי באזור <%= @city.h_name.gsub('-',' ') %> <%= @places.count %> </h1>
		<%end%>

		<% places_sorted.each do |place| %>

		<div class="well well-sm bar-container">

			<% if I18n.locale == :en %>

			<div class="bar-name">
				<%= link_to "#{place.name.gsub('-',' ')}", place %>

			</div>

			<p>
				<%= place.categories.map(&:name).join(', ') %>
			</p>
			
			<p>
				<%= place.address %>
			</p>
			<p>
				<%= place.details %>
			</p>
			
			<div id= <%= 'star' +  place.id.to_s %>> </div>
				
			

			<%end%>

			<% if I18n.locale == :he %>
			<p>
				<div class= "bar-name">
					<%= link_to "#{place.h_name.gsub('-',' ')}", place %>
				</div>
			</p>
			<p>
				<%= place.categories.map(&:h_name).join(', ') %>
			</p>
			<p>
				<%= place.h_address %>
			</p>
			<p>
				<%= place.h_details %>
			</p>
			<%end%>
			<p>
				<a href="<%= place.website %>">visit website </a>
			</p>

		</div>
		<script>
					jQuery(document).ready(function(){

					$('#star').raty({
					readOnly: true,
					start: <%= place.average_rating %>,
					path: '/assets',
					
						});
						});
		</script>
		<% end %>

	</div>

	<div id="map-canvas" data-center="<%= @city.location.to_json%>"
	data-places= "<%= @places.to_json %>"
	></div>

</div>

