<div id="city-container">
<div id="map-canvas" data-name="<%= @place.name.to_json%>" data-h-name="<%= @place.h_name.to_json%>" data-website="<%= @place.website.to_json%>" data-lat="<%= @place.latitude.to_json%>" data-lng="<%= @place.longitude.to_json%>"
data-address= "<%= @place.address.to_json %>" data-h-address= "<%= @place.h_address.to_json %>"
></div>



<% if I18n.locale == :en %>
	<div class="well" id="place-column" >
	
		
			<div class="bar-name">
				<%= @place.name.gsub('-',' ') %>
			</div>
			
			<div>	
				<%= @place.categories.map(&:name).join(', ') %>
			</div>
			<div id="address">
				<%= @place.address %>
			</div>
			<div id="details">some more details here
				<%= @place.details %>
			</div>
			<% unless @place.website.blank? %>
				<div class="website">
					<%= link_to @place.website,url_with_protocol(@place.website), :target => '_blank'%>	
					
				</div>	
			<%end%>
			<div>
				<%= t('Average rating') %>	
				<div id="star"></div>
			</div>
			<div>
				<% if current_user %>
					<%= t('Rate this place') %>
				<%else%>
					<%= t('Log in to rate') %>
				<%end%>
					<div id="user_star"></div>
			</div>
		
	    <div>
	    	<strong style="font-size: 20px;">Get directions from your location</strong></br>
			<strong>Mode of Travel: </strong>
				<select id="mode" onchange="calcRoute();">
				  <option value="DRIVING">Driving</option>
				  <option value="WALKING">Walking</option>
				  <option value="BICYCLING">Bicycling</option>
				  <option value="TRANSIT">Transit</option>
				</select>
		</div>
		<div id="nearby-places-box" >
			<div id="nearby-places">Nearby Places</div>
			<ul>
				<%for place in @place.nearbys(0.5)%>
					<li>
						<%= link_to place.name.gsub('-',' '), place%> (<%= (place.distance * 1609.34).round(2)%> m)
					</li>
				<%end%>
			</ul>
		
		</div>
		

	<% string = "http://noSmokingPlaces.com/" + @place.id.to_s + "/comments" %>
	
	<div class="fb-comments" data-href=<%= string %> data-numposts="5" data-colorscheme="light"></div>
		



<script>
jQuery(document).ready(rateplaces("star", <%= @place.average_rating %>));</script>

<% if @rating %>
<script>
		jQuery(document).ready(function(){
			$('#user_star').raty({
				start: <%= @rating.score %>,
				path: '/assets',
				click: function(score, evt) {
					$.ajax({
						url: '/ratings/' + <%= @rating.id %>,
						type: 'PATCH',
						data: { score:score,place_id: <%= @place.id %>
								}
							});
				}
			});
		});
</script>
<% end %>
</div>




<%end%>



<% if I18n.locale == :he %>
	<div class="well" id="h-place-column" >
		
			<div id="h-bar-name">
				<%= @place.h_name.gsub('-',' ') %>
			</div>
			<div>	
				<%= @place.categories.map(&:h_name).join(', ') %>
			</div>
			<div id="h-address">
				<%= @place.h_address %>
			</div>
			<div id="h-details">
				כל מיני פרטים נוספים כאן
				<%= @place.h_details %>
			</div>
			<% unless @place.website.blank? %>
				<div class="website">
					<%= link_to @place.website,url_with_protocol(@place.website), :target => '_blank'%>	
					
				</div>	
			<%end%>
			<div>
				<%= t('Average rating') %>	
				<div id="star"></div>
			</div>
			<div>
				<% if current_user %>
					<%= t('Rate this place') %>
				<%else%>
					<%= t('Log in to rate') %>
				<%end%>
					<div class="h-star" id="user_star"></div>
			</div>
		
	    <div>
			<strong>Mode of Travel: </strong>
				<select id="mode" onchange="calcRoute();">
				  <option value="DRIVING">Driving</option>
				  <option value="WALKING">Walking</option>
				  <option value="BICYCLING">Bicycling</option>
				  <option value="TRANSIT">Transit</option>
				</select>
		</div>
		<div id= "h-nearby-places-box">
			<div id= "h-nearby-places">  מקומות בילוי באזור  
			</div>	
			<ul>
				<%for place in @place.nearbys(0.5)%>
					<li>
						<% place_url = "/he/places/" + place.id.to_s %>
							<a href="<%= place_url %>"><%= place.h_name.gsub('-',' ')%>(<%= (place.distance * 1609.34).round(2)%> מטרים)</a>
						
					</li>
				<%end%>
			</ul>
		
		</div>
		

	<% string = "http://noSmokingPlaces.com/" + @place.id.to_s + "/comments" %>
	
	<div class="fb-comments" data-href=<%= string %> data-numposts="5" data-colorscheme="light"></div>
		



<script>
jQuery(document).ready(rateplaces("star", <%= @place.average_rating %>));</script>

<% if @rating %>
<script>
		jQuery(document).ready(function(){
			$('#user_star').raty({
				start: <%= @rating.score %>,
				path: '/assets',
				click: function(score, evt) {
					$.ajax({
						url: '/ratings/' + <%= @rating.id %>,
						type: 'PATCH',
						data: { score:score,place_id: <%= @place.id %>
							  }
							});
						}
			});
		});
</script>
<% end %>
</div>
<%end%>

<script>jQuery(document).ready(function($) {initialize_place();});</script>
<!--script>jQuery(document).ready(function($) {calcRoute(32.0806126, 34.7738658, 31.7819054, 35.2213715);});</script-->