<div id="city-container">
<div id="map-canvas" data-name="<%= @place.name.to_json%>" data-website="<%= @place.website.to_json%>" data-lat="<%= @place.latitude.to_json%>" data-lng="<%= @place.longitude.to_json%>"
data-address= "<%= @place.address.to_json %>"
></div>

<script>initialize_place();</script>

<% if I18n.locale == :en %>
	<div id="place-column" >
	
		<div class="well">
			<div class="bar-name">
				<%= @place.name.gsub('-',' ') %>
			</div>
			<div>	
				<%= @place.categories.map(&:name).join(', ') %>
			</div>
			<div>
				<%= @place.address %>
			</div>
			<div>some more details here
				<%= @place.details %>
			</div>
			<div>	
				<a href="<%= @place.website %>"> visit website </a>
			</div>	
			<div>
				<%= t('Average rating') %>	
				<div id="star"></div>
			</div>
			<div>
				<% if current_user %>
					<%= t('Rate this place') %>
				<%else%>
					<%= t('Log in to rate') %>
				<%end%>
					<div id="user_star"></div>
			</div>
		</div>
	
		<div id="nearby-places-box" class="well">
			<div id="nearby-places">Nearby Places</div>
			<ul>
				<%for place in @place.nearbys(0.5)%>
					<li>
						<%= link_to place.name.gsub('-',' '), place%> (<%= (place.distance * 1609.34).round(2)%> m)
					</li>
				<%end%>
			</ul>
		
		</div>
		

	<% string = "http://noSmokingPlaces.com/" + @place.id.to_s + "/comments" %>
	
	<div class="fb-comments" data-href=<%= string %> data-numposts="5" data-colorscheme="light"></div>
		



<script>
jQuery(document).ready(rateplaces("star", <%= @place.average_rating %>));</script>

<% if @rating %>
<script>
		jQuery(document).ready(function(){

	$('#user_star').raty({
	start: <%= @rating.score %>,
	path: '/assets',
	click: function(score, evt) {
	$.ajax({
	url: '/ratings/' + <%= @rating.id %>
			, type: 'PATCH',
	data: { score:score,place_id: <%= @place.id %>
		}
		});
		}
		});
		});
</script>
<% end %>
</div>
<%end%>



<% if I18n.locale == :he %>
	<div id="h-place-column" >
		<div class="well">
			<div id="h-bar-name">
				<%= @place.h_name.gsub('-',' ') %>
			</div>
			<div>	
				<%= @place.categories.map(&:h_name).join(', ') %>
			</div>
			<div>
				<%= @place.h_address %>
			</div>
			<div>
				כל מיני פרטים נוספים כאן
				<%= @place.h_details %>
			</div>
			<div>	
				<a href="<%= @place.website %>"> visit website </a>
			</div>	
			<div>
				<%= t('Average rating') %>	
				<div id="star"></div>
			</div>
			<div>
				<% if current_user %>
					<%= t('Rate this place') %>
				<%else%>
					<%= t('Log in to rate') %>
				<%end%>
					<div id="user_star"></div>
			</div>
		</div>
	
		<div id= "h-nearby-places-box" class="well">
			<div id= "h-nearby-places">  מקומות בילוי באזור  
			</div>	
			<ul>
				<%for place in @place.nearbys(0.5)%>
					<li>
						<%= link_to place.h_name.gsub('-',' '), place%> (<%= (place.distance * 1609.34).round(2)%> מטרים)
					</li>
				<%end%>
			</ul>
		
		</div>
		

	<% string = "http://noSmokingPlaces.com/" + @place.id.to_s + "/comments" %>
	
	<div class="fb-comments" data-href=<%= string %> data-numposts="5" data-colorscheme="light"></div>
		



<script>
jQuery(document).ready(rateplaces("star", <%= @place.average_rating %>));</script>

<% if @rating %>
<script>
		jQuery(document).ready(function(){

	$('#user_star').raty({
	start: <%= @rating.score %>,
	path: '/assets',
	click: function(score, evt) {
	$.ajax({
	url: '/ratings/' + <%= @rating.id %>
			, type: 'PATCH',
	data: { score:score,place_id: <%= @place.id %>
		}
		});
		}
		});
		});
</script>
<% end %>
</div>
<%end%>
